@{
  Layout = "_Layout";
}

<div class="centerBlock">
  <h1>Pierre's Fine & Fancy Treats & Eats</h1><br />
  <div class="column2">
    <p>TBD Section</p>
  </div>
  <div class="column2">
    <p>@Html.ActionLink("treat menu", "Index", "Treats")</p>
  </div>
  <div class="column2">
    <p>@Html.ActionLink("browse by flavor", "Index", "Flavors")</p>
  </div>
</div>