@{
  Layout = "_Layout";
}

@using TreatMogul.Models;
@model dynamic;

<h1>Full Menu</h1>
@if(@Model.Treat.Count == 0 && @Model.Flavor.Count == 0)
{
  <br>
  <p>We're Closed. Come Back Tomorrow. Or the next day, maybe.</p>
}
else
{
  @foreach(var treat in Model.Treat)
  {
    @Html.ActionLink($"{treat.Crub}", "Details", "Treats", new {id = treat.TreatId})
  }

    @foreach(var flavor in Model.Flavor)
  {
    @Html.ActionLink($"{flavor.Taste}", "Details", "Flavors", new {id = flavor.FlavorId})
  }
}