@{
  Layout = "_Layout";
}

@using TreatMogul.ViewModels

@model LoginViewModel

<h2>Sign in as Admin</h2>
<hr />
@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Username)
  @Html.TextBoxFor(m => m.Username)

  @Html.LabelFor(m => m.Password)
  @Html.PasswordFor(m => m.Password)

  <input type="submit" value="Sign In" />
}