@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body {
  font-family: 'Zen Kurenaido', sans-serif;
}

.container {
  padding: 3% 0 0 2%;
}

.noButtonLogOut {
  background: transparent;
  border: 0px transparent;
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight:100;
  text-transform: lowercase;
  letter-spacing:.2rem;
}

.noButtonLogOut:hover {
  text-decoration:none;
}

.column {
  float:right;
  width:10%;
}

.columnF {
  float:left;
  width:15%;
}

.column2 {
  width:45%;
  float:left;
  /* height: 50px; */
  margin:0 0 0 1%;
  text-align: center;
  /* font-size:15pt; */
  letter-spacing: .3rem;
}

#navBar {
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  padding:8px;
  font-family:'Zen Kurenaido', sans-serif;
  font-weight:100;
  text-transform: lowercase;
  letter-spacing:.2rem;
}

.adminPanel {
  padding:20px 0 0 0;
}

.noButton {
  background: transparent;
  border: 0px transparent;
  color:#007bff;
}

.noButton:hover {
  color:rgb(220, 20, 203);
}

.bodyBlock {
  padding: 5% 0 0 0;
}

.centerBlock {
  width:70%;
  height: 600px;
  margin:10% auto;
  box-sizing: border-box;
  padding:2%;
  text-align: center;
  letter-spacing: .3rem;
  }

  .centerBlock h1 {
    font-size: 60pt;
  }

  .centerBlock h3 {
    font-size: 30pt;
    letter-spacing:2rem;
    margin-top:-15px;
    padding-bottom:20px;
  }

  #footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    padding:8px;
  }

  #teeny {
    font-size:8pt;
  }